<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdministradorServlet</servlet-name>
        <servlet-class>web.servlet.AdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaServlet</servlet-name>
        <servlet-class>web.servlet.CitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoServlet</servlet-name>
        <servlet-class>web.servlet.CorreoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorServlet</servlet-name>
        <servlet-class>web.servlet.DoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteServlet</servlet-name>
        <servlet-class>web.servlet.PacienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministradorServlet</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaServlet</servlet-name>
        <url-pattern>/Cita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorreoServlet</servlet-name>
        <url-pattern>/Correo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorServlet</servlet-name>
        <url-pattern>/Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteServlet</servlet-name>
        <url-pattern>/Paciente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>
</web-app>
